[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
[user]
	name = Ryn-95
	email = mouhajerrayane9y@gmail.com
[http]
	postBuffer = 524288000
	maxRequestBuffer = 100M
[safe]
	directory = /var/www/html
	directory = /var/www/html
	directory = /var/www/html
	directory = /var/www/html
